NODE_ENV=development
PORT=5000
API_PREFIX=/api/v1
MONGODB_URI=mongodb://127.0.0.1:27017/baseball-backend

LOG_LEVEL=info

DEFAULT_ADMIN_NAME=System Admin
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=ChangeMe123!
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=7d
OTP_EXPIRES_MINUTES=10

AWS_REGION=ap-south-1
AWS_S3_BUCKET=your-s3-bucket-name
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_S3_PUBLIC_BASE_URL=https://your-s3-bucket-name.s3.ap-south-1.amazonaws.com

RESEND_API_KEY=your-resend-api-key
RESEND_FROM_EMAIL=no-reply@example.com
